#rec770552913 .t396__artboard {
    height: 301px;
    background-color: #ffffff;
}

#rec770552913 .t396__filter {
    height: 301px;
}

#rec770552913 .t396__carrier {
    height: 301px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec770552913 .t396__artboard, #rec770552913 .t396__filter, #rec770552913 .t396__carrier {}

    #rec770552913 .t396__filter {}

    #rec770552913 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
    #rec770552913 .t396__artboard, #rec770552913 .t396__filter, #rec770552913 .t396__carrier {}

    #rec770552913 .t396__filter {}

    #rec770552913 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 639px) {
    #rec770552913 .t396__artboard, #rec770552913 .t396__filter, #rec770552913 .t396__carrier {}

    #rec770552913 .t396__filter {}

    #rec770552913 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 479px) {
    #rec770552913 .t396__artboard, #rec770552913 .t396__filter, #rec770552913 .t396__carrier {
        height: 255px;
    }

    #rec770552913 .t396__filter {}

    #rec770552913 .t396__carrier {
        background-attachment: scroll;
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073279"] {
    color: #8c0000;
    text-align: CENTER;
    z-index: 2;
    top: 13px;
    left: calc(50% - 600px + 319px);
    width: 564px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073279"] .tn-atom {
    color: #8c0000;
    font-size: 25px;
    font-family: 'Cormorant', Arial, sans-serif;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073279"] {
        top: 17px;
        left: calc(50% - 160px + 20px);
        width: 280px;
    }

    #rec770552913 .tn-elem[data-elem-id="1720171073279"] .tn-atom {
        font-size: 17px;
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073284"] {
    color: #000000;
    text-align: CENTER;
    z-index: 3;
    top: 86px;
    left: calc(50% - 600px + 312px);
    width: 564px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073284"] .tn-atom {
    color: #000000;
    font-size: 20px;
    font-family: 'Cormorant', Arial, sans-serif;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073284"] {
        top: 76px;
        left: calc(50% - 160px + -128px);
    }

    #rec770552913 .tn-elem[data-elem-id="1720171073284"] .tn-atom {
        font-size: 15px;
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073288"] {
    color: #000000;
    text-align: CENTER;
    z-index: 4;
    top: 143px;
    left: calc(50% - 600px + 319px);
    width: 564px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073288"] .tn-atom {
    color: #000000;
    font-size: 20px;
    font-family: 'Cormorant', Arial, sans-serif;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073288"] {
        top: 125px;
        left: calc(50% - 160px + 21px);
        width: 280px;
    }

    #rec770552913 .tn-elem[data-elem-id="1720171073288"] .tn-atom {
        font-size: 15px;
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073291"] {
    color: #000000;
    text-align: CENTER;
    z-index: 5;
    top: 200px;
    left: calc(50% - 600px + 319px);
    width: 564px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073291"] .tn-atom {
    color: #000000;
    font-size: 20px;
    font-family: 'Cormorant', Arial, sans-serif;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073291"] {
        top: 174px;
        left: calc(50% - 160px + 21px);
        width: 280px;
    }

    #rec770552913 .tn-elem[data-elem-id="1720171073291"] .tn-atom {
        font-size: 15px;
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171079715"] {
    z-index: 10;
    top: 260px;
    left: calc(50% - 600px + 454px);
    width: 267px;
}

#rec770552913 .tn-elem[data-elem-id="1720171079715"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171079715"] {
        top: 219px;
        left: calc(50% - 160px + 46px);
        width: 205px;
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073331"] {
    color: #8c0000;
    text-align: LEFT;
    z-index: 11;
    top: 62px;
    left: calc(50% - 600px + 635px);
    width: 134px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073331"] .tn-atom {
    color: #8c0000;
    font-size: 20px;
    font-family: 'Cormorant', Arial, sans-serif;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073331"] {
        top: 55px;
        left: calc(50% - 160px + 182px);
    }

    #rec770552913 .tn-elem[data-elem-id="1720171073331"] .tn-atom {
        font-size: 15px;
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073334"] {
    color: #8c0000;
    text-align: LEFT;
    z-index: 12;
    top: 119px;
    left: calc(50% - 600px + 636px);
    width: 97px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073334"] .tn-atom {
    color: #8c0000;
    font-size: 20px;
    font-family: 'Cormorant', Arial, sans-serif;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073334"] {
        top: 104px;
        left: calc(50% - 160px + 182px);
    }

    #rec770552913 .tn-elem[data-elem-id="1720171073334"] .tn-atom {
        font-size: 15px;
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073340"] {
    color: #8c0000;
    text-align: LEFT;
    z-index: 13;
    top: 176px;
    left: calc(50% - 600px + 636px);
    width: 123px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073340"] .tn-atom {
    color: #8c0000;
    font-size: 20px;
    font-family: 'Cormorant', Arial, sans-serif;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073340"] {
        top: 153px;
        left: calc(50% - 160px + 182px);
    }

    #rec770552913 .tn-elem[data-elem-id="1720171073340"] .tn-atom {
        font-size: 15px;
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073343"] {
    color: #8c0000;
    text-align: LEFT;
    z-index: 14;
    top: 233px;
    left: calc(50% - 600px + 636px);
    width: 79px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073343"] .tn-atom {
    color: #8c0000;
    font-size: 20px;
    font-family: 'Cormorant', Arial, sans-serif;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073343"] {
        top: 195px;
        left: calc(50% - 160px + 182px);
    }

    #rec770552913 .tn-elem[data-elem-id="1720171073343"] .tn-atom {
        font-size: 15px;
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171079583"] {
    z-index: 18;
    top: 181px;
    left: calc(50% - 600px + 520px);
    width: 44px;
}

#rec770552913 .tn-elem[data-elem-id="1720171079583"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171079583"] {
        top: 157px;
        left: calc(50% - 160px + 105px);
        width: 35px;
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171079599"] {
    z-index: 19;
    top: 238px;
    left: calc(50% - 600px + 520px);
    width: 44px;
}

#rec770552913 .tn-elem[data-elem-id="1720171079599"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171079599"] {
        top: 198px;
        left: calc(50% - 160px + 105px);
        width: 35px;
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073294"] {
    z-index: 6;
    top: 262px;
    left: calc(50% - 600px + 728px);
    width: 19px;
    height: 14px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073294"] .tn-atom {
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073294"] {
        top: 205px;
        left: calc(50% - 160px + 258px);
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073298"] {
    z-index: 7;
    top: 262px;
    left: calc(50% - 600px + 727px);
    width: 18px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073298"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec770552913 .tn-elem[data-elem-id="1720171073298"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073298"] {
        top: 219px;
        left: calc(50% - 160px + 258px);
        width: 16px;
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073306"] {
    z-index: 8;
    top: 91px;
    left: calc(50% - 600px + 670px);
    width: 9px;
    height: 14px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073306"] .tn-atom {
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073306"] {
        top: 79px;
        left: calc(50% - 160px + 209px);
        width: 20px;
        height: 30px;
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073309"] {
    z-index: 9;
    top: 91px;
    left: calc(50% - 600px + 670px);
    width: 7px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073309"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec770552913 .tn-elem[data-elem-id="1720171073309"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073309"] {
        top: 79px;
        left: calc(50% - 160px + 209px);
        width: 7px;
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073347"] {
    z-index: 15;
    top: 67px;
    left: calc(50% - 600px + 520px);
    width: 45px;
    height: 14px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073347"] .tn-atom {
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073347"] {
        top: 76px;
        left: calc(50% - 160px + 26px);
        width: 57px;
        height: 19px;
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073351"] {
    z-index: 16;
    top: 67px;
    left: calc(50% - 600px + 520px);
    width: 43px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073351"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec770552913 .tn-elem[data-elem-id="1720171073351"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073351"] {
        top: 59px;
        left: calc(50% - 160px + 105px);
        width: 35px;
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171079608"] {
    z-index: 17;
    top: 124px;
    left: calc(50% - 600px + 520px);
    width: 44px;
}

#rec770552913 .tn-elem[data-elem-id="1720171079608"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171079608"] {
        top: 108px;
        left: calc(50% - 160px + 105px);
        width: 35px;
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073403"] {
    z-index: 20;
    top: 62px;
    left: calc(50% - 600px + 600px);
    width: 2px;
    height: 24px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073403"] .tn-atom {
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073403"] {
        top: 52px;
        left: calc(50% - 160px + 160px);
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073414"] {
    z-index: 21;
    top: 62px;
    left: calc(50% - 600px + 600px);
    width: 2px;
    height: 24px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073414"] .tn-atom {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073414"] {
        top: 52px;
        left: calc(50% - 160px + 160px);
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073444"] {
    z-index: 22;
    top: 119px;
    left: calc(50% - 600px + 600px);
    width: 2px;
    height: 24px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073444"] .tn-atom {
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073444"] {
        top: 101px;
        left: calc(50% - 160px + 160px);
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073449"] {
    z-index: 23;
    top: 119px;
    left: calc(50% - 600px + 600px);
    width: 2px;
    height: 24px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073449"] .tn-atom {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073449"] {
        top: 101px;
        left: calc(50% - 160px + 160px);
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073462"] {
    z-index: 24;
    top: 176px;
    left: calc(50% - 600px + 600px);
    width: 2px;
    height: 24px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073462"] .tn-atom {
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073462"] {
        top: 150px;
        left: calc(50% - 160px + 160px);
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073465"] {
    z-index: 25;
    top: 176px;
    left: calc(50% - 600px + 600px);
    width: 2px;
    height: 24px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073465"] .tn-atom {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073465"] {
        top: 150px;
        left: calc(50% - 160px + 160px);
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073479"] {
    z-index: 26;
    top: 233px;
    left: calc(50% - 600px + 600px);
    width: 2px;
    height: 24px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073479"] .tn-atom {
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073479"] {
        top: 191px;
        left: calc(50% - 160px + 160px);
    }
}

#rec770552913 .tn-elem[data-elem-id="1720171073482"] {
    z-index: 27;
    top: 233px;
    left: calc(50% - 600px + 600px);
    width: 2px;
    height: 24px;
}

#rec770552913 .tn-elem[data-elem-id="1720171073482"] .tn-atom {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec770552913 .tn-elem[data-elem-id="1720171073482"] {
        top: 191px;
        left: calc(50% - 160px + 160px);
    }
}